<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Circle - Business Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/css/util.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>

<body>
    <a class="dropdown" href="/"> Home </a>
    <a class="login" href="/signup"> Sign Up </a>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="/api/login" method="POST">
                    <span class="login100-form-title">
						Log In
                    </span>
                    <br>
                    <div class="text-center p-b-26">
                        <span class="txt1 centertext">
                            To log into an existing, enter your phone number and a password below.<br>
                            If you do not have an account already, click <a href="/signup">here to sign up.</a>
						</span>
                    </div>
                    <br>


                    <div class="wrap-input100">
                        <input class="input100" type="text" name="number">
                        <span class="focus-input100" data-placeholder="Phone Number"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="password">
                        <span class="focus-input100" data-placeholder="Password"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn">
                                <button class="login100-form-btn">
								Login
							</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/js/main.js"></script>

</body>

</html>