<!DOCTYPE html>
<html>

<head>
    <title>The Circle - Business Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/signupmap.css">

</head>

<body>
    <a class="dropdown" href="/"> Home </a>
    <a class="login" href="/business/signup"> Business Signup </a>


    </div>
    <br>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100" style="width: 800px;">
                <form class="login100-form validate-form" action="/api/business/login" method="POST">
                    <span class="login100-form-title">
                    Business Login
                    </span>
                    <div class="text-center p-b-26">
                        <span class="txt1 centertext">
                            <br>To log into your business account, pick your store on the map.<br>
                            Type your password in below, then hit 'Proceed'<br>.<br>
                            If you do not have an account already, click <a href="/signup">here to sign up.</a><br>
                            If you have forgotten your password, go to our <a href="/about">Contact Us</a> page
                            <br><br><br>
                        </span>
                    </div>
                    <div>
                        <input id="pac-input" class="controls" type="text" placeholder="Search your store">
                    </div>

                    <div id="infowindow-content">
                        <span id="place-name" class="title"></span><br>
                        <strong>Place ID:</strong> <span id="place-id"></span><br>
                        <span id="place-address"></span>
                    </div>

                    <div id="map"></div>

                    <input type="hidden" name="spanname" id="hiddenplaceid" value="default">
                    <input type="hidden" name="LatLong" id="hiddenlocationid" value="default">

                    <div style="margin-top: 50px;" class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="password">
                        <span class="focus-input100" data-placeholder="Password"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Proceed
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8CEzbZy17dmq1BS6-mtxZ1KLwo3iRCms&libraries=places&callback=initMap" async defer></script>
    <script>
        document.getElementById("hiddenplaceid").value = "Tester"
    </script>
    </div>
    </div>
    </div>


    <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/js/main.js"></script>


</body>

</html>