<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    <title>
        The Circle - Business Dashboard
    </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=yes' name='viewport' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/now-ui-dashboard.css?" rel="stylesheet" />
    <link href="/static/css/dashboard.css" rel="stylesheet" />

    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="blue">
            <div class="logo">
                <a style="font-size: 20px" class="simple-text logo-mini">
                &#9711;
                </a>
                <a class="simple-text logo-normal">
                  The Circle
                </a>
            </div>
            <div class="sidebar-wrapper" id="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/">
                            <i class="now-ui-icons design_app"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li>
                        <a href="/request">
                            <i class="now-ui-icons education_atom"></i>
                            <p>Request a Shop</p>
                        </a>
                    </li>
                    <li>
                        <a href="/browse">
                            <i class="now-ui-icons location_map-big"></i>
                            <p>Browse Map</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <p> </p>
                        </a>
                    </li>
                    <li>
                        <a href="/business/dashboard">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>Business Dashboard</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/business/qr">
                            <i class="activeicon now-ui-icons design_bullet-list-67"></i>
                            <p>Scan QR Code</p>
                        </a>
                    </li>
                    <li>
                        <a href="/business/livechat">
                            <i class="now-ui-icons text_caps-small"></i>
                            <p>Live Chat</p>
                        </a>
                    </li>
                    <li class="active-pro">
                        <a href="/api/logout">
                            <i class="now-ui-icons objects_key-25"></i>
                            <p>Log Out</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel" id="main-panel" style="height: 100vh;">
            <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-wrapper">

                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>

                        <a class="navbar-brand" style="color: black;">QR Scanner</a>
                    </div>


                </div>
            </nav>
            <span style="text-align: center;">
                <br /><br /><br /><br /><br />
                <h3>Scan a QR Code</h3>
                <p style="overflow-wrap: break-word; margin: 0px 10px"> Use the below camera feed to scan the QR codes of users<br>
                    Once scanned, there name and timeslot will show on the list below<br>
                    We recommend checking the names of people to ensure they are who they should be
                    <br /><br />
                </p>
            </span>
            <video style="display: block; margin: 20px auto; max-width:100%; max-height:100%;" id="preview"></video>
            <br /><br /><br />
            <table id="table" class="table" style="width: 60%; margin: 0 auto; ">
                <thead class=" text-primary ">
                    <tr style="font-size: clamp(2px, 3vw, 15px); text-align: center; overflow-wrap: break-word;">
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Appoitment Time</th>
                        <th>Scanned Time</th>
                    </tr>
                </thead>
                <tbody id="tablebody" style="text-align: center;">
                </tbody>
            </table>
            <script type="text/javascript ">
                const tab = document.getElementById("tablebody")
                let scanner = new Instascan.Scanner({
                    video: document.getElementById('preview')
                });
                scanner.addListener('scan', function(content) {
                    var row = tab.insertRow(0);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var con = content.split(",")
                    cell1.innerHTML = con[0];
                    cell2.innerHTML = con[1];
                    cell3.innerHTML = con[2];
                    var today = new Date();
                    var time = today.getHours() + ":" + today.getMinutes()
                    cell4.innerHTML = time;
                });
                Instascan.Camera.getCameras().then(function(cameras) {
                    if (cameras.length > 0) {
                        $.each(cameras, (i, c) => {
                            console.log(i)
                            console.log(c)
                        });
                        scanner.start(cameras[0]);
                        var vid = document.getElementById("preview ");
                        document.getElementById("table ").style.width = 100 % -vid.videoWidth;
                    } else {
                        console.error('No cameras found.');
                    }
                }).catch(function(e) {
                    console.log(e);
                });
            </script>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="/static/js/core/jquery.min.js "></script>
    <script src="/static/js/core/popper.min.js "></script>
    <script src="/static/js/core/bootstrap.min.js "></script>
    <script src="/static/js/plugins/perfect-scrollbar.jquery.min.js "></script>
    <script src="/static/js/now-ui-dashboard.js"></script>

    <script src="/static/vendor/jquery/jquery-3.2.1.min.js "></script>
    <script type="text/javascript " src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js "></script>
</body>

</html>