<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    <title>
        The Circle - About
    </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/now-ui-dashboard.css?" rel="stylesheet" />
    <link href="/static/css/dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <link rel="stylesheet" type="text/css" href="/static/css/homemap.css">
</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="blue">
            <div class="logo">
                <a style="font-size: 20px" class="simple-text logo-mini">
                &#9711;
                </a>
                <a class="simple-text logo-normal">
                  The Circle
                </a>
            </div>
            <div class="sidebar-wrapper" id="sidebar-wrapper">
                <ul id="mainnav" class="nav">
                </ul>
            </div>
        </div>
        <div class="main-panel" id="main-panel">
            <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>

                        <a class="navbar-brand" style="color: black;">About Us</a>
                    </div>
                </div>
            </nav>
            <div style="text-align: center">
                <div style="display: inline-block; width: 50%; height: 100vh; padding-top: 60px;">
                    <h2 class="title" style="padding-top: 40px; margin-bottom: 10px">The Circle</h2>
                    <h5 class="card-title">
                        Thanks for using The Circle.
                        <br /> This project was made for the 2020 <a href="https://hackquarantine.com/">Hack Quarantine</a> hackathon.
                        <br /> To read more about the project itself, <a href="https://devpost.com/software/the-circle">head to our submission page</a>
                        <br /> <br /> This project was made by <a href="https://danperks.digital">Daniel Perks</a> and <a href="https://harrisonduffield.com">Harrison Duffield</a>
                    </h5>

                    <h3 class="title" style="padding-top: 170px; margin-bottom: 10px">Contact Us</h3>
                    <h5 class="card-title">
                        For inqueries about the Circle or a booking on the Circle: <br />- Email: <a href="emailto:hello@thecircle.digital">hello@thecircle.digital</a> <br />- Discord: <a href="https://discord.gg/k2GvvMN">The Circle</a> or
                        <br /><br />For inqueries about a certain store, contact the store in question directly
                        <br /><br />To contact the developers directly, follow the links above to see our individual contact pages.
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <script src=" /static/js/login.js "></script>
    <script>
        init([false, false, false, true], [false, false, false, true])
    </script>

    <!--   Core JS Files   -->
    <script src="/static/js/core/jquery.min.js "></script>
    <script src="/static/js/core/popper.min.js "></script>
    <script src="/static/js/core/bootstrap.min.js "></script>
    <script src="/static/js/plugins/perfect-scrollbar.jquery.min.js "></script>
    <script src="/static/js/now-ui-dashboard.js"></script>

    <script src="/static/vendor/jquery/jquery-3.2.1.min.js "></script>
</body>

</html>