<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Circle - Accounts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/css/util.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>

<body>
    <a class="dropdown" href="/"> Home </a>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <span class="login100-form-title">
						Accounts Menu
                    </span>
                <br>
                <div class="text-center p-b-26">
                    <span class="txt1 centertext">
                            If you are looking to book a slot at a local store, choose Customer Signup.<br/>
                            If you already have an account for this, click Customer Login.<br /><br />
						</span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button onclick="location.href = '/login';" class="login100-form-btn">
								Customer Login
							</button>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button onclick="location.href = '/signup';" class="login100-form-btn">
								Customer Signup
							</button>
                    </div>
                </div>

                <br />
                <div class="text-center p-b-26">
                    <span class="txt1 centertext">
                            Run a shop and want to add it to the Circle? Click Business Signup.<br />
                            If you are a business trying to access your dashboard and settings, choose the Business Login.
						</span>
                </div>
                <br>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button onclick="location.href = '/business/login';" class="login100-form-btn">
								Business Login
							</button>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button onclick="location.href = '/business/signup';" class="login100-form-btn">
								Business Signup
							</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/js/main.js"></script>

</body>

</html>