<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dan Perks - Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>
    <a class="dropdown" href="/tools"> Tools </a>
    <a class=" login " href="/login "> Log In </a>
    <div class="limiter ">
        <div class="container-login100 ">
            <div class="wrap-login100 ">
                <img class="profileimage " src="static\images\logo.jpg ">
                <span class="login100-form-title ">
					Dan Perks
				</span><br>
                <span class="login100-form-subtitle ">
					Student, Programmer, Designer
				</span><br>
                <div class="text-center p-b-26 ">
                    <span class="txt1 ">
						1st Year Computer Science Student at Coventry University 
						<br />
						Proficient in C++, Python, SQL and the Adobe and Microsoft suite
						<br /><br />
						My main website is currently being built, so watch this space!
					</span>
                </div>

                <div class="container-login100-form-btn ">
                    <div class="wrap-login100-form-btn ">
                        <div class="login100-form-bgbtn "></div>
                        <button onclick="window.location.href='/cv' " class="login100-form-btn ">
							About Me
						</button>
                    </div>
                    <div class="wrap-login100-form-btn ">
                        <div class="login100-form-bgbtn "></div>
                        <button onclick="window.location.href='/programming' " class="login100-form-btn ">
							Programming
						</button>
                    </div>
                    <div class="wrap-login100-form-btn ">
                        <div class="login100-form-bgbtn "></div>
                        <button onclick="window.location.href='/graphic-design' " class="login100-form-btn ">
							Graphic Design
						</button>
                    </div>
                    </form>
                    <br>
                    <span style="margin-left:100px; margin-right:100px" class="txt1"> Contact or follow me here:</span>
                    <div style="display: flex; justify-content: center;">
                        <a href="https://www.linkedin.com/in/dan-perks">
                            <img src="https://img.icons8.com/color/96/000000/linkedin.png" alt="LinkedIn Icon" style="width:40px;height:40px;" />
                        </a>
                        <a href="https://github.com/danperks">
                            <img src="https://img.icons8.com/color/96/000000/github--v1.png" alt="GitHub Icon" style="width:40px;height:40px;" />
                        </a>
                        <img onclick='alert("They do not do direct links yet, so you will have to add me manually. @DanPerks#6755")' src="https://img.icons8.com/color/96/000000/discord-new-logo.png" alt="Discord Icon" style="width:40px;height:40px;" />
                        <a href="https://www.instagram.com/imdanperks/">
                            <img src="https://img.icons8.com/color/96/000000/instagram-new.png" alt="Instagram Icon" style="width:40px;height:40px;" />
                        </a>
                        <a href="https://twitter.com/itzdanp">
                            <img src="https://img.icons8.com/color/96/000000/twitter.png" alt="Twitter Icon" style="width:40px;height:40px;" />
                        </a>
                    </div>

                    <span style="margin-left:100px; margin-right:100px" class="txt1"> or go oldschool: <a href="mailto:hello@danperks.digital " >hello@danperks.digital</a></span>
                </div>
            </div>
        </div>

        <script src="/static/vendor/jquery/jquery-3.2.1.min.js "></script>
        <script src="/static/js/main.js "></script>
</body>

</html>