<!DOCTYPE html>
<php $hello = "hello"?>
<html lang="en">
<head>
    <title>The Circle - QR Scanner</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    
    <script src="/static/js/main.js"></script>
</head>
<script>
    window.addEventListener('DOMContentLoaded', init);

    async function init(){
        
       
        const preview = document.querySelector('[data-preview]');

        
            
            const results = await fetchEstimations();
            preview.textContent = JSON.stringify(results, null, 4);
            new QRCode(document.getElementById("qr-code"),preview.textContent)
            };
        

        async function fetchEstimations() {
             //DONT THINK A PAYLOAD IS NEEDED BUT ITS THERE SO ...

            const res = await fetch('/QRPersonal', {
                method: 'get',
                
            });
            const estimation = await res.json();
            return estimation;
        }
</script>
<body>
    <a class="dropdown" href="/"> Home </a>
    <a class="login" href="/login"> Log In </a>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div id="qr-code"></div>
                <script type = "text/javascript"></script>
            </div>
            <form method="POST" action="" data-calc-form>
    <input type="text" name='text'>
    <button>Calculate</button>
    <pre data-preview></pre>
</form>
            <pre></pre>
            
        </div>
    </div>

    <script>
        if ("{{ error }}" == "None") {
            document.getElementById("error").style.display = "none";
        }
    </script>

   
    

</body>

</html>
